In [57]:
import pandas as pd
from pathlib import Path

In [58]:
df = pd.read_csv('pybank.csv')
df.set_index('Date', inplace = True)
df

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]

In [63]:
#Your task is to create a Python script that analyzes the records to calculate each of the following:
#The total number of months included in the dataset.
total_months = df["Profit/Losses"].count()

In [64]:
#The net total amount of Profit/Losses over the entire period.
total_profits = df['Profit/Losses'].sum()

In [65]:
#The average of the changes in Profit/Losses over the entire period.
df['shifted_column'] = df['Profit/Losses'].shift(1)
df['diffence'] = df['Profit/Losses'] - df['shifted_column']
average = df['diffence'].mean()

In [66]:
#The greatest increase in profits (date and amount) over the entire period.
gip = df['diffence'].max()
gip_date = df['diffence'].idxmax()

In [70]:
#The greatest decrease in losses (date and amount) over the entire period.
gdp = df['diffence'].min()
gdp_date = df['diffence'].idxmin()

In [72]:
print("Financial Analysis")
print("-----------------------------------")
print(f"Total Months:{total_months}")
print(f"Total Profits: ${total_profits}")
print(f"Average Change: ${average}  ")
print(f"Greatest Increase in Profits: {gip_date}  (${gip})")
print(f"Greatest Decrease in Profits: {gdp_date} (${gdp})")

Financial Analysis
-----------------------------------
Total Months:86
Total Profits: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012  ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)