In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

In [2]:
#Contains returns of some famous "whale" investors' portfolios.
df_whales = pd.read_csv("whale_returns.csv")

In [3]:
df_whales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1060 non-null   object
 1   SOROS FUND MANAGEMENT LLC    1059 non-null   float64
 2   PAULSON & CO.INC.            1059 non-null   float64
 3   TIGER GLOBAL MANAGEMENT LLC  1059 non-null   float64
 4   BERKSHIRE HATHAWAY INC       1059 non-null   float64
dtypes: float64(4), object(1)
memory usage: 41.5+ KB

In [26]:
#Detect and remove null value df_whales.

df_whales.isnull().sum()

df_whales.dropna(inplace = True)

df_whales

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
5,2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [34]:
algo_returns = pd.read_csv("algo_returns.csv")
df_algos = algo_returns.set_index("Date")  
df_algos =df_algos.dropna(inplace = True)

In [36]:
df_algos

In [33]:
 df_whales.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [15]:
df_whales.dropna(inplace = True)

In [12]:
sp500_history= pd.read_csv("sp500_history.csv" , parse_dates = True)

sp500_history

In [18]:
# df_new = pd.concat(["df_whales" , "algo_returns" , "df_sp500_history"])